.donut-holder.quarter-circle-100
  %h3 100%
  %svg{height: '50', width: '50', xmlns: 'http://www.w3.org/2000/svg', class: 'donut'}
    %g
      %title Layer 1
      %circle#circle.circle_animation{:cx => '25', :cy => '25', :fill => 'none', :r => '17.5', :stroke => '#aaaaaa', 'stroke-width' => '6'}