<div style='padding-top: 15px; padding-bottom: 30px;'>
  <h3 style='color: #FFFFFF;'>
    Verify your account.
  </h3>
  <a href="<%=confirmation_url(@resource, confirmation_token: @token)%>" style='color: #0071bc; background-color: white; border-color: #cccccc; display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; text-decoration: none;'>
    CLICK HERE TO VERIFY
  </a>
</div>
<div style='text-align: left; background-color: #f2f2f2; color: #000000; padding-top: 30px; padding-bottom: 30px; padding-left: 15px; padding-right: 15px;'>
  Feedback occurs when outputs of a system are routed back as inputs as part of a chain of cause-and-effect that forms a circuit or loop.[2] The system can then be said to feed back into itself. The notion of cause-and-effect has to be handled carefully when applied to feedback systems:
  <br/>
  <br/>
  "Simple causal reasoning about a feedback system is difficult because the first system influences the second and second system influences the first, leading to a circular argument. This makes reasoning based upon cause and effect tricky, and it is necessary to analyze the system as a whole." [3]
</div>
<div style='padding-top: 30px; padding-bottom: 30px; background-color: #FFFFFF;'>
  <h3 style='color: #000000'>
    Login to verify your account.
  </h3>
  <a href="<%=confirmation_url(@resource, confirmation_token: @token)%>" style='background-color: #459689; color: #FFFFFF; border-color: #cccccc; display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; text-decoration: none;'> 
    CLICK HERE TO VERIFY
  </a>
</div>