<div style='padding-top: 15px; padding-bottom: 30px;'>
  <%= image_tag @resource.avatar.url(:thumb), style: 'width: 100px; margin-left: auto; margin-right: auto; display: block; border-radius: 50%;'%>
  <h3 style='color: #FFFFFF;'>
    Reset your password.
  </h3>
  <a href="<%=edit_password_url(@resource, reset_password_token: @token)%>" style='color: #0071bc; background-color: white; border-color: #cccccc; display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; text-decoration: none;'>
    RESET PASSWORD
  </a>
</div>
<div style='text-align: left; background-color: #f2f2f2; color: #000000; padding-top: 30px; padding-bottom: 30px; padding-left: 15px; padding-right: 15px;'>
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  <br/>
  <br/>
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
</div>
<div style='padding-top: 30px; padding-bottom: 30px; background-color: #FFFFFF;'>
  <h3 style='color: #000000'>
    Reset your password.
  </h3>
  <a href="<%=edit_password_url(@resource, reset_password_token: @token)%>" style='background-color: #459689; color: #FFFFFF; border-color: #cccccc; display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; text-decoration: none;'>
    RESET PASSWORD
  </a>
</div>